<%- partial("partial/_page-header.ejs") %>

<div class="main">
<ul>
    <li><a href="/_alerts-01" class="">Required contextual classes</a></li>
    <li><a href="" class="">Link color</a></li>
    <li><a href="" class="">Additional content</a></li>
    <li><a href="" class="">Dismissing alerts</a></li>
</ul>
<%- partial("partial/_components/_alerts/_alerts-01.ejs") %>
<%- partial("partial/_components/_alerts/_alerts-02.ejs") %>
<%- partial("partial/_components/_alerts/_alerts-03.ejs") %>
<%- partial("partial/_components/_alerts/_alerts-04.ejs") %>

</div>