<%- partial("partial/_page-header.ejs") %>

<div class="main">

<%- partial("partial/_components/_button-groups/_button-groups-01.ejs") %>
<%- partial("partial/_components/_button-groups/_button-groups-02.ejs") %>
<%- partial("partial/_components/_button-groups/_button-groups-03.ejs") %>
<%- partial("partial/_components/_button-groups/_button-groups-04.ejs") %>
<%- partial("partial/_components/_button-groups/_button-groups-05.ejs") %>
<%- partial("partial/_components/_button-groups/_button-groups-06.ejs") %>
<%- partial("partial/_components/_button-groups/_button-groups-07.ejs") %>

</div>