<%- partial("partial/_page-header.ejs") %>

<div class="main">

<%- partial("partial/_components/_buttons/_buttons-01.ejs") %>
<%- partial("partial/_components/_buttons/_buttons-02.ejs") %>
<%- partial("partial/_components/_buttons/_buttons-03.ejs") %>
<%- partial("partial/_components/_buttons/_buttons-04.ejs") %>
<%- partial("partial/_components/_buttons/_buttons-05.ejs") %>
<%- partial("partial/_components/_buttons/_buttons-06.ejs") %>
<%- partial("partial/_components/_buttons/_buttons-07.ejs") %>
<%- partial("partial/_components/_buttons/_buttons-08.ejs") %>
<%- partial("partial/_components/_buttons/_buttons-09.ejs") %>
<%- partial("partial/_components/_buttons/_buttons-10.ejs") %>

</div>