<%- partial("partial/_page-header.ejs") %>

<div class="main">

<%- partial("partial/_components/_cards/_cards-01.ejs") %>
<%- partial("partial/_components/_cards/_cards-02.ejs") %>
<%- partial("partial/_components/_cards/_cards-03.ejs") %>
<%- partial("partial/_components/_cards/_cards-04.ejs") %>
<%- partial("partial/_components/_cards/_cards-05.ejs") %>
<%- partial("partial/_components/_cards/_cards-06.ejs") %>
<%- partial("partial/_components/_cards/_cards-07.ejs") %>
<%- partial("partial/_components/_cards/_cards-08.ejs") %>
<%- partial("partial/_components/_cards/_cards-09.ejs") %>
<%- partial("partial/_components/_cards/_cards-10.ejs") %>
<%- partial("partial/_components/_cards/_cards-11.ejs") %>
<%- partial("partial/_components/_cards/_cards-12.ejs") %>
<%- partial("partial/_components/_cards/_cards-13.ejs") %>
<%- partial("partial/_components/_cards/_cards-14.ejs") %>
<%- partial("partial/_components/_cards/_cards-15.ejs") %>
<%- partial("partial/_components/_cards/_cards-16.ejs") %>
<%- partial("partial/_components/_cards/_cards-17.ejs") %>
<%- partial("partial/_components/_cards/_cards-18.ejs") %>
<%- partial("partial/_components/_cards/_cards-19.ejs") %>
<%- partial("partial/_components/_cards/_cards-20.ejs") %>
<%- partial("partial/_components/_cards/_cards-21.ejs") %>
<%- partial("partial/_components/_cards/_cards-22.ejs") %>
<%- partial("partial/_components/_cards/_cards-23.ejs") %>
<%- partial("partial/_components/_cards/_cards-24.ejs") %>
<%- partial("partial/_components/_cards/_cards-25.ejs") %>
<%- partial("partial/_components/_cards/_cards-26.ejs") %>

</div>