<%- partial("partial/_page-header.ejs") %>

<div class="main">

<%- partial("partial/_components/_carousels/_carousels-01.ejs") %>
<%- partial("partial/_components/_carousels/_carousels-02.ejs") %>
<%- partial("partial/_components/_carousels/_carousels-03.ejs") %>
<%- partial("partial/_components/_carousels/_carousels-04.ejs") %>

</div>