<%- partial("partial/_page-header.ejs") %>

<div class="main">

<%- partial("partial/_components/_dropdowns/_dropdowns-01.ejs") %>
<%- partial("partial/_components/_dropdowns/_dropdowns-02.ejs") %>
<%- partial("partial/_components/_dropdowns/_dropdowns-03.ejs") %>
<%- partial("partial/_components/_dropdowns/_dropdowns-04.ejs") %>
<%- partial("partial/_components/_dropdowns/_dropdowns-05.ejs") %>
<%- partial("partial/_components/_dropdowns/_dropdowns-06.ejs") %>
<%- partial("partial/_components/_dropdowns/_dropdowns-07.ejs") %>
<%- partial("partial/_components/_dropdowns/_dropdowns-08.ejs") %>
<%- partial("partial/_components/_dropdowns/_dropdowns-09.ejs") %>
<%- partial("partial/_components/_dropdowns/_dropdowns-10.ejs") %>
<%- partial("partial/_components/_dropdowns/_dropdowns-11.ejs") %>


</div>