<%- partial("partial/_page-header.ejs") %>

<div class="main">

<%- partial("partial/_components/_input-groups/_input-groups-01.ejs") %>
<%- partial("partial/_components/_input-groups/_input-groups-02.ejs") %>
<%- partial("partial/_components/_input-groups/_input-groups-03.ejs") %>
<%- partial("partial/_components/_input-groups/_input-groups-04.ejs") %>
<%- partial("partial/_components/_input-groups/_input-groups-05.ejs") %>
<%- partial("partial/_components/_input-groups/_input-groups-06.ejs") %>
<%- partial("partial/_components/_input-groups/_input-groups-07.ejs") %>

</div>