<%- partial("partial/_page-header.ejs") %>

<div class="main">

<%- partial("partial/_components/_navs/_navs-01.ejs") %>
<%- partial("partial/_components/_navs/_navs-02.ejs") %>
<%- partial("partial/_components/_navs/_navs-03.ejs") %>
<%- partial("partial/_components/_navs/_navs-04.ejs") %>
<%- partial("partial/_components/_navs/_navs-05.ejs") %>
<%- partial("partial/_components/_navs/_navs-06.ejs") %>
<%- partial("partial/_components/_navs/_navs-07.ejs") %>
<%- partial("partial/_components/_navs/_navs-08.ejs") %>
<%- partial("partial/_components/_navs/_navs-09.ejs") %>
<%- partial("partial/_components/_navs/_navs-10.ejs") %>
<%- partial("partial/_components/_navs/_navs-11.ejs") %>
<%- partial("partial/_components/_navs/_navs-12.ejs") %>
<%- partial("partial/_components/_navs/_navs-13.ejs") %>
<%- partial("partial/_components/_navs/_navs-14.ejs") %>

</div>