<%- partial("partial/_page-header.ejs") %>

<div class="main">

<%- partial("partial/_components/_progress-bars/_progress-bars-01.ejs") %>
<%- partial("partial/_components/_progress-bars/_progress-bars-02.ejs") %>
<%- partial("partial/_components/_progress-bars/_progress-bars-03.ejs") %>
<%- partial("partial/_components/_progress-bars/_progress-bars-04.ejs") %>
<%- partial("partial/_components/_progress-bars/_progress-bars-05.ejs") %>
<%- partial("partial/_components/_progress-bars/_progress-bars-06.ejs") %>
<%- partial("partial/_components/_progress-bars/_progress-bars-07.ejs") %>
<%- partial("partial/_components/_progress-bars/_progress-bars-08.ejs") %>

</div>